<nav class="navbar navbar-dark bg-dark navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
    <a class="navbar-brand text-warning" asp-area="" asp-controller="Home" asp-action="Index">MICROSCOPE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <partial name="_LoginPartial" />
        <ul class="navbar-nav flex-grow-1">
        
        @if(User.IsInRole("Admin")){
            <li class="nav-item">
                <a class="nav-link" href="~/home/data" target="_blank"><i class="fa fa-database"></i> Data</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-users"></i> Identity
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="~/User">Users</a>
                    <a class="dropdown-item" href="~/Role">Roles</a>
                </div>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="~/Storage"><i class="fa fa-hdd"></i> Storage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/RemoteConfig"><i class="fa fa-cog"></i> Remote configs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Analytic"><i class="fa fa-chart-line"></i> Analytics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/"><i class="fa fa-file"></i> Logs</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-code"></i> API
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="~/swagger" target="_blank">REST</a>
                    <a class="dropdown-item" href="~/ui/playground" target="_blank">GraphQL</a>
                </div>
            </li>
        }

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-book"></i> Docs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="~/Home/Docs/Roadmap">Roadmap</a>
                    <a class="dropdown-item" href="~/Home/Docs/Issues">Issues</a>
                </div>
            </li>
        </ul>
    </div>
</nav>