@model IronHasura.Models.AppConfig

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/8.6.4/jsoneditor.min.css">
    <title>Create</title>
</head>
<body>

<h4>AppConfig</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control d-none" id="appconfigvalue" />
                <span asp-validation-for="Value" class="text-danger"></span>
                <div id="jsoneditor" style="width: 600px; height: 400px;"></div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/8.6.4/jsoneditor.js"></script>
<script>
    $(document).ready(function(){
        var container = document.getElementById("jsoneditor");
        var $input = $("#appconfigvalue");

        var options = {
            mode: 'code',
            modes: ['code', 'form', 'text', 'tree', 'view', 'preview'],
            onValidate: function (json) {
                getJson(json);
            }
        };

        var editor = new JSONEditor(container, options);

        function getJson() {
            var json = editor.get();
            $input.val(JSON.stringify(json));
        }
    });
</script>

</body>
</html>
