@model IEnumerable<string>

<h1>Storage</h1>

<form asp-action="Upload" enctype="multipart/form-data">
    <div class="input-group">
        <div class="custom-file">
            <input type="file" name="file" class="custom-file-input" id="inputGroup" aria-describedby="inputGroup">
            <label class="custom-file-label" for="inputGroup">Choose file</label>
        </div>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Upload</button>
        </div>
    </div> 
</form>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="list-group">
            @foreach (var item in Model)
            {
                <div class="list-group-item clearfix">
                    <span class="align-middle">@item</span>
                    <span class="float-right">
                        <a href="~/storage/@item/download" class="btn btn-xs btn-warning"><i class="fas fa-download"></i></a>                        
                        <form asp-action="Delete" class="float-right" onsubmit="return confirm('Are you sure ?');">
                            <input type="hidden" name="filename" value="@item" />
                            <button type="submit" class="btn btn-xs btn-danger"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </span>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
