<div class="jumbotron text-center">
  <h1 class="display-4">MICROSCOPE</h1>
  <p class="lead">Backend as a service for ambitious digital factory</p>
</div>


<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        GraphQL BAAS
      </div>
      <div class="card-body">
        <i class="fa fa-database fa-5x"></i>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        Identity SSO
      </div>
      <div class="card-body">
        <i class="fas fa-user-lock fa-5x"></i>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        Storage
      </div>
      <div class="card-body">
        <i class="fa fa-hdd fa-5x"></i>
      </div>
    </div>
  </div>
</div>

<br>
<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        Remote configurations
      </div>
      <div class="card-body">
        <i class="fa fa-cog fa-5x"></i>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        Analytics
      </div>
      <div class="card-body">
        <i class="fa fa-chart-line fa-5x"></i>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        Push notifications
      </div>
      <div class="card-body">
        <i class="fas fa-check-double fa-5x"></i>
      </div>
    </div>
  </div>
</div>
