@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http
@inject IAccessTokenProvider TokenProvider
@page "/user"

<AuthorizeView>
    <Authorized>
        <div>
            <h3>@context.User.Identity.Name</h3>
            <p>@context.User.Claims.FirstOrDefault(x => x.Type == "email")?.Value</p>
            <p>@AccessToken</p>
        </div>
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>

@code {
    public string AccessToken { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var accessTokenResult = await TokenProvider.RequestAccessToken();
        AccessToken = string.Empty;

        if (accessTokenResult.TryGetToken(out var token))
        {
            AccessToken = token.Value;
        }
    }
}